@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  /* !STARTERCONF Customize these variable, copy and paste from /styles/colors.css for list of colors */
  --tw-clr-primary-50: 240, 249, 255;
  --tw-clr-primary-100: 224, 242, 254;
  --tw-clr-primary-200: 186, 230, 253;
  --tw-clr-primary-300: 125, 211, 252;
  --tw-clr-primary-400: 56, 189, 248;
  --tw-clr-primary-500: 14, 165, 233;
  --tw-clr-primary-600: 2, 132, 199;
  --tw-clr-primary-700: 3, 105, 161;
  --tw-clr-primary-800: 7, 89, 133;
  --tw-clr-primary-900: 12, 74, 110;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #f0f9ff */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #e0f2fe */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #bae6fd */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #7dd3fc */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #38bdf8 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #0ea5e9 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #0284c7 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #0369a1 */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #075985 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #0c4a6e */
  /* #endregion  /**======== Primary Color =========== */
}

.custom-color-red {
  --tw-clr-primary-50: 254, 242, 242;
  --tw-clr-primary-100: 254, 226, 226;
  --tw-clr-primary-200: 254, 202, 202;
  --tw-clr-primary-300: 252, 165, 165;
  --tw-clr-primary-400: 248, 113, 113;
  --tw-clr-primary-500: 239, 68, 68;
  --tw-clr-primary-600: 220, 38, 38;
  --tw-clr-primary-700: 185, 28, 28;
  --tw-clr-primary-800: 153, 27, 27;
  --tw-clr-primary-900: 127, 29, 29;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fef2f2 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #fee2e2 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #fecaca */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #fca5a5 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #f87171 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #ef4444 */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #dc2626 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #b91c1c */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #991b1b */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #7f1d1d */
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  /* #region  /**=========== Typography =========== */
  h1 {
    @apply font-bold font-primary text-2xl md:text-4xl;
  }

  h2 {
    @apply font-bold font-primary text-xl md:text-3xl;
  }

  h3 {
    @apply font-bold font-primary text-lg md:text-2xl;
  }

  h4 {
    @apply font-bold font-primary text-base md:text-lg;
  }

  body {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

.truncated-p {
  overflow: hidden;
  display: block;
  width: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pagination-item {
  display: block;
}

.bg-primary {
  background: rgb(26, 148, 255);
  /* background: #1c92d2;
  background: -webkit-linear-gradient(
    to right,
    #1c92d2,
    #86cad8
  );
  background: linear-gradient(
    to right,
    #1c92d2,
    #86cad8
  ); */
}

.scroll-hidden::-webkit-scrollbar {
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

.background-image {
  background: url('/images/logo.svg');
}

.icon-yellow {
  color: rgb(253, 216, 54);
}

.old-price {
  color: #929292;
  text-decoration: line-through;
}

.new-price {
  line-height: 20px;
  margin-left: 10px;
  font-size: 32px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .new-price {
    font-size: 16px !important;
  }
}

.input-counter {
  display: flex;
  align-items: center;
}

.input-counter .operator {
  height: 30px;
  cursor: pointer;
  padding: 0 10px;
  line-height: 28px;
  border: 1px solid rgb(236, 236, 236);
}

.input-counter .counter {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: 1em;
  border: 1px solid rgb(236, 236, 236);
}

.thumb {
  width: 80px;
  height: 80px;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-500));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
